input(type="hidden" id="showPerPage" value="0")
input(type="hidden" id="currentPage" value="0")

.article
    table.table
      tr
        th 名字
        th 联系电话
        th 职称
        th 职称状态
        th 工作状态
        th 备注
      each info in engineer_info
        tr
          td #{info.name}
          td #{info.telephone}
          td #{info.title_info}
          td #{info.title_state}
          td #{info.work_state}
          td #{info.postscript}
